<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>后台管理--博客</title>
    <link rel="stylesheet" href="../../static/css/me.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-pad-tb-mini m-shadow-small" th:replace="admin/_fragments :: menu(1)">
    <div class="ui right aligned container">
        <div class="ui inverted secondary stackable  menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" table icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://unsplash.it/100/100?image=1005" alt="" class="ui avatar image">
                        Echo
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--手机端nav按钮-->
    <a class="ui menu-button black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--二级nav-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="teal active item">列表</a>
        </div>
    </div>
</div>
<!--中间-->
<div class="m-container-small m-pad-tb-massive">
    <div class="ui container">
        <div class="ui secondary segment form">
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="标题">
                </div>
                <div class="field">
                    <div id="selection" class="ui selection dropdown">
                        <input type="hidden" name="typeId">
                        <i class="dropdown icon"></i>
                        <div class="default text">分类</div>
                        <div class="menu">
                            <div class="item" data-value="1" th:each="type :${types}" th:data-value="${type.id}"
                                 th:text="${type.name}">日志
                            </div>
                            <!--/*-->
                            <div class="item" data-value="0">Java</div><!--*/-->
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn" class="ui tiny teal basic button icon"><i
                            class="search icon"></i>搜索
                    </button>
                </div>
                <div class="field">
                    <button id="clear" class="ui mini button">clear</button>
                </div>
            </div>
        </div>
        <div id="table-container">
            <table th:fragment="blogList" class="ui compact teal celled table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>版权</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">博客标题</td>
                    <td th:text="${blog.type.name}">认知升级</td>
                    <td th:text="${blog.recommend} ? '是' : '否'">是</td>
                    <td th:text="${blog.pulished} ? '发布' : '草稿'">是</td>
                    <td th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}">2020-04-16</td>
                    <td th:text="${blog.flag}">a</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}" class="ui mini teal button">编辑</a>
                        <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui left floated pagination small menu" th:if="${page.totalPages} > 1">
                            <a class="icon item" onclick="page(this)" th:attr="data-page=${page.number}-1"
                               th:unless="${page.first}">
                                <i class="left chevron icon"></i>
                            </a>
                            <a class="icon item" onclick="page(this)" th:attr="data-page=${page.number}+1"
                               th:unless="${page.last}">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                        <a href="#" th:href="@{/admin/blogs/input}"
                           class="ui add right floated mini orange button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>
    </div>
</div>

<!--底部-->
<footer class="ui inverted vertical segment m-pad-tb-massive" th:replace="admin/_fragments :: footer">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced .m-text-lined m-text-opacity-tiny">Copyright © 2020 Echo1024 Designed by
            Echo1024</p>
    </div>
</footer>


<th:block th:replace="_fragments :: script">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
</th:block>
<script>
    $('.menu-button').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.qq').popup();
    $('.ui.dropdown').dropdown();
    //消息提示关闭
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });
    //清除分类
    $('#clear').on('click', function () {
        $('#selection').dropdown('clear');
    });

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loadData();
    }

    $('#search-btn').click(function () {
        $("[name='page']").val(0);
        loadData();
    });

    function loadData() {
        $('#table-container').load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search", {
            title: $("[name='title']").val(),
            typeId: $("[name='typeId']").val(),
            recommend: $("[name='recommend']").prop('checked'),
            page: $("[name='page']").val()
        });
    }
    $(function(){
        function footerPosition(){
            $("footer").removeClass("fixed-bottom");
            var contentHeight = document.body.scrollHeight,//网页正文全文高度
                winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
            if(!(contentHeight > winHeight)){
                //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                $("footer").addClass("fixed-bottom");
            }
        }
        footerPosition();
        $(window).resize(footerPosition);
    });
</script>
</body>
</html>