<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title th:replace="${title}">title</title>
    <link rel="shortcut icon" href="../static/images/xx-32.ico" type="image/x-icon" th:href="@{/images/xx-32.ico}" />
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}">
    <link rel="stylesheet" href="../static/css/animate.min.css" th:href="@{/css/animate.min.css}">
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--导航-->
<nav class="ui attached segment m-pad-tb-mini m-shadow-small m-nav-block" th:fragment="menu(n)">
    <div class="ui right aligned container">
        <div class="ui secondary stackable  menu">
            <h1 class="ui header item m-logo">xxMuu</h1>
            <a href="#" th:href="@{/}" class="m-item item m-mobile-hide m-a-font-large" th:classappend="${n == 1 } ? 'active' "><i
                    class="large home icon"></i>主页</a>
            <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide m-a-font-large" th:classappend="${n == 2 } ? 'active' "><i
                    class="large bookmark outline icon"></i>分类</a>
            <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide m-a-font-large" th:classappend="${n == 3 } ? 'active' "><i
                    class="large tags icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide m-a-font-large" th:classappend="${n == 4 } ? 'active' "><i
                    class="large clone icon"></i>归档</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide m-a-font-large" th:classappend="${n == 5 } ? 'active' "><i
                    class="large info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <form name="search" action="#" method="post" target="_blank" th:action="@{/search}">
                    <div class="ui icon transparent input">
                        <input type="text" name="query" placeholder="搜索..." th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="link search icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--手机端nav按钮-->
    <a class="ui menu-button black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--底部-->
<footer class="ui vertical segment m-pad-tb-massive m-bg-opacity" th:fragment="footer">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced .m-text-lined m-text-opacity-tiny">Copyright © 2020 xxMuu Designed by xxMuu</p>
    </div>
</footer>
<!--script-->
<th:block th:fragment="script">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
    <script src="../static/lib/tocbot/tocbot.js" th:src="@{/lib/tocbot/tocbot.js}"></script>
    <script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
    <script src="https://cdn.bootcss.com/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
</th:block>
</body>
</html>