<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title th:text="|${blog.title}-xxMuuの个人博客|">博客详情-xxMuuの个人博客</title>
    <link rel="stylesheet" href="../static/css/typo.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/lib/prism/prism.css">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-pad-tb-mini m-shadow-small m-bg-opacity" th:replace="_fragments :: menu(0)">
    <div class="ui right aligned container">
        <div class="ui inverted secondary stackable  menu">
            <h2 class="ui teal header item">Echo</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" table icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="搜索">
                    <i class="link search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!--手机端nav按钮-->
    <a class="ui menu-button black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间-->
<div class="m-container-small m-pad-tb-massive animated fadeIn m-bg-opacity">
    <div class="ui container">
        <div class="ui top attached segment">
            <!--head-->
            <div class="ui horizontal link list">
                <div class="item">
                    <img src="https://unsplash.it/800/450?image=1005" th:src="${blog.user.avatar}" alt=""
                         class="ui avatar image">
                    <div class="content" th:text="${blog.user.nickname}">xxmuu</div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-01-01</span>
                </div>
                <div class="item">
                    <i class=" eye icon"></i><span th:text="${blog.views}">2020</span>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <img src="https://unsplash.it/800/450?image=1005" th:src="${blog.firstPicture}" alt=""
                 class="ui rounded fluid image">
        </div>
        <div class=" ui attached segment">
            <!--content-->
            <div class="ui right aligned basic segment">
                <div class="ui basic orange label" th:text="${blog.flag}">转载</div>
            </div>
            <h2 class="ui center aligned header" th:text="${blog.title}">Typo.css</h2>
            <!--内容-->
            <div id="content" class="js-toc-content typo typo-selection m-pad-lr m-pad-tb m-text-spaced"
                 th:utext="${blog.content}">

            </div>
            <!--标签-->
            <div class="m-pad-lr m-margin-top-large">
                <div class="ui basic teal label" th:each="tag :${blog.tags}" th:text="${tag.name}">Java</div>
            </div>
            <!--赞赏-->
            <!-- <div class="ui basic center aligned segment">
                  <button class="ui basic circular button orange">赞赏</button>
             </div>-->
        </div>
        <!--博客信息-->
        <div class="ui attached  message" th:if="${blog.shareStatement}">
            <ui class="list middle aligned">
                <li>作者：<span th:text="${blog.user.nickname}"></span></li>
                <li>发布时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}"></span></li>
                <li>版权声明：原创出品，转载请注明出处！</li>
            </ui>
        </div>
        <!--留言-->
        <div class="ui bottom attached segment" th:if="${blog.commentabled}">
            <!-- 留言列表 -->
            <div id="comment-container" class="ui segment">
                <div th:fragment="commentList">
                    <div class="ui comments">
                        <h3 class="ui dividing header">评论</h3>
                        <div class="comment" th:each="comment : ${comments}">
                            <a class="avatar">
                                <img src="https://unsplash.it/800/450?image=1005" th:src="${comment.avatar}">
                            </a>
                            <div class="content">
                                <a class="author">
                                 <span th:text="${comment.nickname}">xxMuu</span>
                                    <div class="ui mini basic teal left pointing label m-pad-mini" th:if="${comment.adminComment}">博主</div>
                                </a>
                                <div class="metadata">
                                    <span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                </div>
                                <div class="text" th:text="${comment.content}">
                                    How artistic!
                                </div>
                                <div class="actions">
                                    <a class="reply" data-commentid="1" data-commentnickname="mark" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}" onclick="reply(this)">回复</a>
                                </div>
                            </div>
                            <div class="comments" th:if="${#lists.size(comment.replayComments)} > 0">
                                <div class="comment" th:each="reply : ${comment.replayComments}">
                                    <a class="avatar">
                                        <img src="https://unsplash.it/800/450?image=1005" th:src="${reply.avatar}">
                                    </a>
                                    <div class="content">
                                        <a class="author" >
                                           <span th:text="${reply.nickname}">xxMuu</span>
                                            <div class="ui mini basic teal left pointing label m-pad-mini" th:if="${reply.adminComment}">博主</div>
                                            &nbsp;<span th:text="|@ ${reply.parentComment.nickname}|">@ccc</span>
                                        </a>
                                        <div class="metadata">
                                            <span class="date" th:text="${#dates.format(reply.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                        </div>
                                        <div class="text" th:text="${reply.content}">
                                            How artistic!
                                        </div>
                                        <div class="actions">
                                            <a class="reply" data-commentid="1" data-commentnickname="mark" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickname}" onclick="reply(this)">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="comment-form" class="ui form">
                <input type="hidden" name="blog.id" th:value="${blog.id}">
                <input type="hidden" name="parentComment.id" value="-1">
                <div id="textarea-content" class="field">
                    <textarea name="content" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="fields">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname" placeholder="昵称">
                        </div>
                    </div>
                    <div class="field">
                        <button id="comment-post-btn" type="button" class="ui button teal m-mobile-wide"><i class="edit icon"></i>发布</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--工具条-->
<div class="m-pad m-fixed m-right-bottom">
    <div class="ui vertical buttons icon">
        <button type="button" class="ui toc teal button">目录</button>
        <a href="#textarea-content" class="ui teal button">留言</a>
        <button class="wechat ui icon button"><i class="weixin icon"></i></button>
        <div id="toTop" class="ui icon button"><i class="large chevron up icon"></i></div>
    </div>
</div>
<!--放置目录-->
<div class="toc-container ui flowing popup transition hidden" style="width: 250px !important;">
    <ol class="js-toc"></ol>
</div>
<!--放置二维码-->
<div id="qrcode" class="ui wechat-qr flowing popup transition hidden">
    <!--<img src="" alt="" class="ui rounded image" style="width: 110px">-->
</div>
<!--底部-->
<footer class="ui inverted vertical segment m-pad-tb-massive" th:replace="_fragments :: footer">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced .m-text-lined m-text-opacity-tiny">Copyright © 2020 xxMuu Designed by xxMuu</p>
    </div>
</footer>
<!--script-->
<th:block th:replace="_fragments :: script">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="../static/lib/prism/prism.js"></script>
    <script src="../static/lib/tocbot/tocbot.js"></script>
    <script src="../static/lib/qrcode/qrcode.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
</th:block>

<script th:inline="javascript">
    $('.menu-button').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    //初始化tocbot
    tocbot.init({
        //目录生成到什么地方
        tocSelector: '.js-toc',
        //什么地方需要生成目录
        contentSelector: '.js-toc-content',
        //生成目录的级别
        headingSelector: 'h1,h2,h3,h4,h5,h6',
    });
    //目录显示位置
    $('.toc.button').popup({
        popup: $('.toc-container.popup'),
        on: 'click',
        position: 'left center'
    });
    //二维码显示位置
    $('.wechat').popup({
        popup: $('.wechat-qr'),
        position: 'left center'
    });
    var serurl = '139.196.182.178:8080';
    var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/ null;
    //二维码插件初始化
    var qrcode = new QRCode("qrcode", {
        text: serurl + url,
        width: 120,
        height: 120,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H
    });
    //返回顶部，使用了scroto
    $('#toTop').click(function () {
        $(window).scrollTo(0, 500);//插件--y坐标,间隔时间
        //window.scrollTo(0,0);//HTML DOM--x,y坐标
    });
    //评论表单验证
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入评论内容'
                }]
            },
            content: {
                identifier: 'nickname',
                rules: [{
                    type: 'empty',
                    prompt: '请输入昵称'
                }]
            }
        }
    });

    $(function () {
        $('#comment-container').load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"");
    });

    $('#comment-post-btn').click(function () {
      var boo = $('.ui.form').form('validate form');//调用表单验证
        if (boo) {
            postData();
        }
    });
    function postData() {
        $('#comment-container').load(/*[[@{/comments}]]*/"",{
            "parentComment.id" : $("[name='parentComment.id']").val(),
            "blog.id" : $("[name='blog.id']").val(),
            "nickname" : $("[name='nickname']").val(),
            "content" : $("[name='content']").val()
        },function (response,status,xmlHttpRequest) {
            // $(window).scrollTo($('#comment-container'),500);
            clear();
        });
    }
    function clear() {
        $("[name='content']").val('');
        $("[name='parentComment.id']").val(-1);
        $("[name='content']").attr("placeholder","请输入评论信息...");
    }
    function reply(obj) {
        var commentId = $(obj).data('commentid');
        var commentNickname = $(obj).data('commentnickname');
        $("[name='content']").attr("placeholder","@"+commentNickname).focus();
        $("[name='parentComment.id']").val(commentId);
        $(window).scrollTo($('#comment-form'),500);
    }
    $('.m-mobile-show').click(function () {
        var height = $('nav').css('max-height');
        if(height == '69px'){
            $('nav').css('max-height','360px');
        }else{
            $('nav').css('max-height','69px');
        }
    });
</script>
</body>
</html>