<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>博客详情</title>
    <link rel="stylesheet" href="../static/css/typo.css">
    <link rel="stylesheet" href="../static/css/animate.min.css">
    <link rel="stylesheet" href="../static/lib/prism/prism.css">
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-pad-tb-mini m-shadow-small m-bg-opacity" th:replace="_fragments :: menu(0)">
    <div class="ui right aligned container">
        <div class="ui inverted secondary stackable  menu">
            <h2 class="ui teal header item">Echo</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" table icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="搜索">
                    <i class="link search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!--手机端nav按钮-->
    <a class="ui menu-button black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间-->
<div class="m-container-small m-pad-tb-massive animated fadeIn m-bg-opacity">
    <div class="ui container">
        <div class="ui top attached segment">
            <!--head-->
            <div class="ui horizontal link list">
                <div class="item">
                    <img src="https://unsplash.it/800/450?image=1005" th:src="${blog.user.avatar}" alt=""
                         class="ui avatar image">
                    <div class="content" th:text="${blog.user.nickname}">xxmuu</div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-01-01</span>
                </div>
                <div class="item">
                    <i class=" eye icon"></i><span th:text="${blog.views}">2020</span>
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <img src="https://unsplash.it/800/450?image=1005" th:src="${blog.firstPicture}" alt="" class="ui rounded fluid image">
        </div>
        <div class=" ui attached segment">
            <!--content-->
            <div class="ui right aligned basic segment">
                <div class="ui basic orange label" th:text="${blog.flag}">转载</div>
            </div>
            <h2 class="ui center aligned header" th:text="${blog.title}">Typo.css</h2>
            <!--内容-->
            <div id="content" class="js-toc-content typo typo-selection m-pad-lr m-pad-tb m-text-spaced" th:utext="${blog.content}">

            </div>
            <!--标签-->
            <div class="m-pad-lr m-margin-top-large">
                <div class="ui basic teal label" th:each="tag :${blog.tags}" th:text="${tag.name}">Java</div>
            </div>
            <!--赞赏-->
            <!-- <div class="ui basic center aligned segment">
                  <button class="ui basic circular button orange">赞赏</button>
             </div>-->
        </div>
        <!--博客信息-->
        <div class="ui attached  message" th:if="${blog.shareStatement}">
            <ui class="list middle aligned">
                <li>作者：<span th:text="${blog.user.nickname}"></span></li>
                <li>发布时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}"></span></li>
                <li>版权声明：原创出品，转载请注明出处！</li>
            </ui>
        </div>
        <!--留言-->
        <div id="comment-container" class="ui bottom attached segment">
            <div class="ui segment">
                <div class="ui comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/800/450?image=1005">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/800/450?image=1005">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://unsplash.it/800/450?image=1005">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">Reply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/800/450?image=1005">
                        </a>
                        <div class="content">
                            <a class="author">Joe Henderson</a>
                            <div class="metadata">
                                <span class="date">5 days ago</span>
                            </div>
                            <div class="text">
                                Dude, this is awesome. Thanks so much
                            </div>
                            <div class="actions">
                                <a class="reply">Reply</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui form">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="field m-mobile-wide">
                    <button class="ui button teal m-mobile-wide"><i class="edit icon"></i>发布</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--工具条-->
<div class="m-pad m-fixed m-right-bottom">
    <div class="ui vertical buttons icon">
        <button type="button" class="ui toc teal button">目录</button>
        <a href="#comment-container" class="ui teal button">留言</a>
        <button class="wechat ui icon button"><i class="weixin icon"></i></button>
        <div id="toTop" class="ui icon button"><i class="large chevron up icon"></i></div>
    </div>
</div>
<!--放置目录-->
<div class="toc-container ui flowing popup transition hidden" style="width: 250px !important;">
    <ol class="js-toc"></ol>
</div>
<!--放置二维码-->
<div id="qrcode" class="ui wechat-qr flowing popup transition hidden">
    <!--<img src="" alt="" class="ui rounded image" style="width: 110px">-->
</div>
<!--底部-->
<footer class="ui inverted vertical segment m-pad-tb-massive" th:replace="_fragments :: footer">
    <div class="ui center aligned container">
        <div class="ui divided inverted stackable grid">
            <div class="three wide column">
                <div class="ui list">
                    <div class="item">
                        <img src="../static/images/blog.png" alt="" class="ui rounded image" style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column m-text-thin m-text-spaced .m-text-lined">
                <h4 class="ui inverted header">最新博客</h4>
                <div class="ui link list inverted">
                    <a href="#" class="item">什么是面向对象三生三世</a>
                    <a href="#" class="item">什么是面向对象</a>
                    <a href="#" class="item">什么是面向对象</a>
                </div>
            </div>
            <div class="four wide column m-text-thin m-text-spaced .m-text-lined">
                <h4 class="ui  inverted header ">联系我</h4>
                <div class="ui link  list inverted">
                    <a href="#" class="item" style="word-break:break-all;word-wrap:break-word;">Email:echo1024gg@gmail.com</a>
                    <a href="#" class="item">QQ:1229905014</a>
                </div>
            </div>
            <div class="six wide column m-text-thin m-text-spaced .m-text-lined">
                <h4 class="ui inverted header">Echo</h4>
                <p class="m-text-opacity">csacacascacsaca</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced .m-text-lined m-text-opacity-tiny">Copyright © 2020 Echo1024 Designed by
            Echo1024</p>
    </div>
</footer>
<!--script-->
<th:block th:replace="_fragments :: script">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script src="../static/lib/prism/prism.js"></script>
    <script src="../static/lib/tocbot/tocbot.js"></script>
    <script src="../static/lib/qrcode/qrcode.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
</th:block>

<script th:inline="javascript">
    $('.menu-button').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    //初始化tocbot
    tocbot.init({
        //目录生成到什么地方
        tocSelector: '.js-toc',
        //什么地方需要生成目录
        contentSelector: '.js-toc-content',
        //生成目录的级别
        headingSelector: 'h1,h2,h3',
    });
    //目录显示位置
    $('.toc.button').popup({
        popup : $('.toc-container.popup'),
        on : 'click',
        position : 'top center'
    });
    //二维码显示位置
    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position : 'left center'
    });
    var serurl = /*[[#{blog.serurl}]]*/"127.0.0.1:8080";
    var url = /*[[@{/blog/{id}(id=${blog.id}})}]]*/"";
    //二维码插件初始化
    var qrcode = new QRCode("qrcode", {
        text: serurl+url,
        width: 120,
        height: 120,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
    //返回顶部，使用了scroto
    $('#toTop').click(function () {
       $(window).scrollTo(0,500);//插件--y坐标,间隔时间
        //window.scrollTo(0,0);//HTML DOM--x,y坐标
    });
</script>
</body>
</html>