<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>xxMuuの个人博客</title>
    <link rel="shortcut icon" href="../static/images/xx-32.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
</head>
<body>
<div class="m-top m-bg-box">
    <div class="ui container">
        <div class="ui basic segment stackable">
            <!--<img class="ui centered Small circular image" src="https://picsum.photos/id/447/100/100">-->
            <!--<div class="ui  inverted center aligned header m-font">xxMuu</div>-->
        </div>
    </div>
</div>
<!--导航-->
<nav class="ui attached segment m-pad-tb-mini m-shadow-small  m-nav-block" th:replace="_fragments :: menu(1)">
    <div class="ui right aligned container">
        <div class="ui secondary stackable  menu">
            <h2 class="ui m-logo header item">xxMuu</h2>
            <a href="#" class="m-item item m-mobile-hide m-a-font-large"><i class="fitted large home icon"></i>主页</a>
            <a href="#" class="m-item item m-mobile-hide m-a-font-large"><i class="fitted large bookmark outline icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide m-a-font-large"><i class="fitted large tags outline icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide m-a-font-large"><i class="fitted large clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide m-a-font-large"><i class="fitted large info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon transparent focus input">
                    <input type="text" placeholder="搜索">
                    <i class="link search icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!--手机端nav按钮-->
    <a class="ui menu-button black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--中间-->
<div class="m-container m-pad-tb-massive m-bg-opacity">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="two wide column"></div>
            <div class="eleven wide column">
                <div class="ui center aligned segment">
                    <i class="large cubes icon"></i>&nbsp;<span class="m-a-font-large">最新推荐</span>
                </div>
            </div>
        </div>

        <div class="ui stackable grid">
            <div class="four wide centered column" th:each="blog : ${recommendBlogs}">
                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                   class="ui image m-black m-text-thin m-relative">
                    <img src="https://unsplash.it/800/450?image=1005" th:src="${blog.firstPicture}"
                         class="ui fluid rounded image" alt="">
                    <span class="ui rounded m-absolute m-left-bottom m-span-wb m-text-overflow" th:text="${blog.title}">财富密码财富密码财富密码？</span>
                </a>
            </div>
        </div>

        <div class="ui stackable grid">
            <div class="two wide column"></div>
            <div class="eleven wide column">
                <!--header-->
                <div class="ui segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共&nbsp;<h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">12</h2>&nbsp;篇
                        </div>
                    </div>
                </div>

                <!--content start-->
                <div class="ui padded compact segment m-pad-lr-clear m-border" th:each="blog : ${page.content}">
                    <div class="ui basic vertical segment">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="ui header m-a-font m-display m-black" th:text="${blog.title}">文章标题测试？</a>
                        <span>
                                <i class="ui fitted bookmark icon"></i>&nbsp;<span th:text="${blog.type.name}">认知升级</span>&nbsp;&nbsp;
                                <i class="ui fitted clock outline icon"></i>&nbsp;<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2020-04-14 01:20</span>&nbsp;&nbsp;
                                <i class="ui fitted eye icon"></i>&nbsp;<span  th:text="${blog.views}">1024</span>
                            </span>
                    </div>
                    <div class="ui basic vertical segment">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}">
                            <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}" class="ui rounded image">
                        </a>
                    </div>
                    <div class="ui vertical segment">
                        <p class="m-text" th:text="|${blog.description}.......|">财富密码财富密码财富码财富密财富密码财富密码财富密码财富密码财富密码财富密码财富密码</p>
                    </div>
                </div>
                <!--/*-->
                <div class="ui padded compact segment m-pad-lr-clear" th:each="blog : ${page.content}">
                    <div class="ui basic vertical segment">
                        <h3 class="ui header"><a href="#" target="_blank" class="m-black">财富密码财富密码财富密码？</a></h3>
                            <span>
                                <i class="ui bookmark icon"></i><span th:text="${blog.type.name}">认知升级</span>&nbsp;
                                <i class="clock outline icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2020-04-14 01:20</span>&nbsp;
                                <i class=" eye icon"></i><span  th:text="${blog.views}">1024</span>
                            </span>
                    </div>
                    <div class="ui basic vertical segment">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}">
                            <img src="https://unsplash.it/800/450?image=1005" th:src="@{${blog.firstPicture}}" class="ui rounded image">
                        </a>
                    </div>
                    <div class="ui vertical segment">
                        <p class="m-text" th:text="|${blog.description}.......|">财富密码财富密码财富码财富密财富密码财富密码财富密码财富密码财富密码财富密码财富密码</p>
                    </div>
                </div>
                <!--*/-->
                <!--content end-->
                <!--bottom-->
                <div class="ui bottom segment" th:if="${page.totalPages} > 1">
                    <div class="ui middle aligned three column grid">
                        <div class="column">
                            <a href="#" class="ui tiny teal basic button" th:href="@{/(page=${page.number} - 1)}"
                               th:unless="${page.first}">上一页</a>
                        </div>
                        <div class="center aligned column">
                            <span th:text="${page.number} + 1">1</span>/<span th:text="${page.totalPages}">5</span>
                        </div>
                        <div class="right aligned column">
                            <a href="#" class="ui tiny teal basic button" th:href="@{/(page=${page.number} + 1)}"
                               th:unless="${page.last}">下一页</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!--底部-->

<footer class="ui inverted vertical segment m-pad-tb-massive m-bg-opacity" th:replace="_fragments :: footer">
    <div class="ui center aligned container">
        <p class="m-text-thin m-text-spaced .m-text-lined m-text-opacity-tiny">Copyright © 2020 Echo1024 Designed by
            xxMuu</p>
    </div>
</footer>

<th:block th:replace="_fragments :: script">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
</th:block>
<script>
    $('.menu-button').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $(function () {
        function footerPosition() {
            $("footer").removeClass("fixed-bottom");
            var contentHeight = document.body.scrollHeight,//网页正文全文高度
                winHeight = window.innerHeight;//可视窗口高度，不包括浏览器顶部工具栏
            if (!(contentHeight > winHeight)) {
                //当网页正文高度小于可视窗口高度时，为footer添加类fixed-bottom
                $("footer").addClass("fixed-bottom");
            }
        }

        footerPosition();
        $(window).resize(footerPosition);
    });
    var windowTop = 0;
    $(window).scroll(function () {
        var nowTop = $(this).scrollTop();
        if (nowTop > windowTop) {
            $("nav").hide("slow");
        } else {
            $("nav").show("slow");
        }
        windowTop = nowTop;
    });
    $('.m-mobile-show').click(function () {
        var height = $('nav').css('max-height');
        if (height == '69px') {
            $('nav').css('max-height', '360px');
        } else {
            $('nav').css('max-height', '69px');
        }
    });
</script>
</body>
</html>